:root{
    --background: #f5f5f5 ;
    --primary:#0072c6;
    --dark-primary: #0060a8;
    --secondary: #41b883;
    --accent:  #ff9800;
    --text: #000000;
    --text-secondary:#333333;
    --text-tertiary: #808080;
}

html,body{
  color: var(--text) !important;
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 0;
}

button{
  color: var(--background) !important;
}

.login-container{
  flex: 1;
  background-color: var(--background);
  border-radius: 10px;
  padding: 30px;
}

.login-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary{
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover{
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--text);
}

.btn-submit{
  float: right;
}

.teacher-sidebar {
  background-color: var(--primary);
  padding: 0;
  border-right: 1px solid var(--text-secondary)
}

.list-group {
  padding: 0;
  border-radius: 0;
  font-size: 18px;
}

.teacher-dashboard {
  background-color: var(--background);
  padding: 0;
}

.teacher-page {
  height: 100vh;
}

.card-class .card-body a{
  float: right;
}

.teacher-title {
  background-color: var(--dark-primary);
}

.teacher-title h3{
  margin-bottom: 0;
  color: var(--background);
}

.list-group-item {
  background: none;
  border: none;
  color: var(--background);
}

.list-group-item.active {
  background: var(--accent);
}

.list-group-item:hover {
  color: var(--accent);
  cursor: pointer;
}

.list-group-item.active:hover {
  color: var(--text);
}

.row-class{
  gap: 25px;
  margin-bottom: 25px;
}