:root{
    --background: #f5f5f5 ;
    --primary:#0072c6;
    --secondary: #41b883;
    --accent:  #ff9800;
    --text: #000000;
    --text-secondary:#333333;
    --text-tertiary: #808080;
}

html,body{
  color: var(--text) !important;
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
}

button{
  color: var(--background) !important;
}

.login-container{
  flex: 1;
  background-color: var(--background);
  border-radius: 10px;
  padding: 30px;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary{
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover{
  background-color: var(--accent);
  border-color: var(--accent);
}

.btn-submit{
  float: right;
}

