{% extends 'principal/principal_base.njk' %}
{% block breadcrumb %}
  {{ super() }}
  <li class="breadcrumb-item active">Alunos</li>
{% endblock %}
{% block content %}
  <div class="questions-header">
    <h1>
      Alunos
    </h1>
  </div>
  <a href="students/new" class="btn btn-primary btn-submit mb-4">
    <i class="bi bi-person-plus"></i>Novo Estudante
  </a>
  <div class="table-responsive-md">
    <table class="table table-striped table-hover table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Turmas Matriculadas</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for student in students_data %}
          <tr class="">
            <td scope="row">{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.enrollments }}</td>
            <td>
              <a name="delete" id="delete" class="btn btn-danger" href="/principal/students/{{ student.id }}/delete" role="button">
                <i class="bi bi-trash"></i>Deletar</a>
              <a name="more" id="more" class="btn btn-primary" href="students/{{ student.id }}" role="button">
                <i class="bi bi-three-dots-vertical"></i>Ver Mais</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">Não há estudantes cadastrados...</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
{% endblock %}