<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> {% block title %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      type="text/css"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"/>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link id="app_css" rel="stylesheet" type="text/css" href="/css/style.main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="/js/acessibility.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
    {% include "acessibility.njk" %}
    <div class="row teacher-page">
      <nav class="col-md-3 col-lg-2 sidebar teacher-sidebar">
        <div class="teacher-title py-4 px-3 d-flex">
          <h3>Painel do
            {% block user_type %}{% endblock %}
          </h3>
        </div>
        <ul class="list-group d-flex"> {% block side_list %}{% endblock %}
          </ul>
        
          <!-- TODO: Pro vitão fazer: Colocar esse negócio bem no bottom da div, lá embaixo -->
        <div class="mt-auto user-info d-flex">
          <div class="row">
            <div class="col-sm-4">
              <img src="{% if profilePictureUrl %}{{ profilePictureUrl }}{% else %}/img/defaultuser.png{% endif %}" class="img-fluid rounded-circle mx-auto user-profile-picture" />
            </div>
            <div class="col-sm-8">
              <span>{{name}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a name="logout" id="logout" class="btn btn-warning" href="/logout" role="button">Logout</a>
            </div>
          </div>
        </div>
        </nav>
        <div class="col-md-9 col-lg-10 teacher-dashboard">
          <div class="container mt-5">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb"> {% block breadcrumb %}{% endblock %}
                </ol>
              </nav>
              
              {% if error %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Erro!</strong> {{ error }}
              </div>
              
              <script>
                var alertList = document.querySelectorAll('.alert');
                alertList.forEach(function (alert) {
                  new bootstrap.Alert(alert)
                })
              </script>
              
              {% endif %}

              {% if message %}

              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Mensagem!</strong> {{ message }}
              </div>
              
              <script>
                var alertList = document.querySelectorAll('.alert');
                alertList.forEach(function (alert) {
                  new bootstrap.Alert(alert)
                })
              </script>
              

              {% endif %}

              {% block content %}{% endblock %}
            </div>
          </div>
          {% block scripts %}{% endblock %}
        </body>
      </body>
    </html>