{% extends 'base.njk' %}
{% block title %}
    <title>Professor | SmartTrivia</title>
{% endblock %}
{% block side_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center {% if classes %}active{% endif %}">
        <a href="/teacher/classes">
            Minhas Turmas
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center {% if tests %}active{% endif %}">
        <a href="/teacher/tests">
            Minhas Provas
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center {% if questions %}active{% endif %}">
        <a href="/teacher/questions">
            Banco de Questões
        </a>
    </li>
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Professor</li>
{% endblock%}