{% extends 'teacher/teacher_base.njk' %}
{% block breadcrumb %}
    {{ super() }}
    <li class="breadcrumb-item">Banco de Questões</li>
    <li class="breadcrumb-item active">{{ question.id }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 questions-header mb-2">
            <h1>{{ question.title }}</h1>
            <a href="/teacher/questions/{{question.id}}/delete" class="btn btn-danger btn-submit mb-4">
                <i class="bi bi bi-trash"></i>Deletar Questão
            </a>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <h3>Enunciado:</h3>
            <span>{{question.statement}}</span>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <h3>Alternativas:</h3>
            {% for choice in question.choices %}
                <span>{{choice.value}}</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}