{% extends 'teacher/teacher_base.njk' %}
{% block breadcrumb %}
    {{ super() }}
    <li class="breadcrumb-item {% if questions %}active{% endif %}">Banco de Questões</li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 questions-header mb-2">
            <h1>Banco de Questões</h1>
            <a href="/teacher/questions/new" class="btn btn-primary btn-submit mb-4">
                <i class="bi bi-person-plus"></i>Adicionar Novo
            </a>
        </div>
        <form>
            <div class="mb-3 d-flex gap-2">
                <input type="text" name="query" class="form-control sm" placeholder="Filtro..." value="{% if query %}{{ query }}{% endif %}" aria-describedby="helpId">
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </form>
        <div class="row questions-grid">
            {% for question in questions_data %}
                <div class="col-md-4">
                    <div class="card card-class">
                        <div class="card-body">
                            <h5 class="card-title">{{ question.title }}</h5>
                            <p class="card-text">{{ question.statement }}</p>
                            <a href="/teacher/questions/{{question.id}}" class="btn btn-primary">
                                    Acesse a questão
                                </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}