{% extends 'student/student_base.njk' %}
{% block breadcrumb %}
  {{ super() }}
  <li class="breadcrumb-item active">Buscar por Turmas</li>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 questions-header mb-2">
      <h1>Buscar por Turmas</h1>
    </div>
    <form>
      <div class="mb-3 d-flex gap-2">
        <input type="text" name="query" class="form-control sm" placeholder="Filtro..." aria-describedby="helpId" value="{% if query %}{{ query }}{% endif %}">
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
      </form>
      <div
        class="row questions-grid">
        {# TODO: Vitor - Deixar os cards todos do mesmo tamanho #}
        {% for class in classes_data %}
          <div class="col-md-4">
            <div class="card card-class">
              <div class="card-body">
                <h5 class="card-title">{{ class.title }}</h5>
                <span class="card-text">
                  Professor: {{ class.teacher.name }} <br/> Descrição: {{ class.description }}
                </span>
                {% if class.canEnroll %}
                  <a href="/student/classes/{{ class.id }}/enroll" class="btn btn-primary">
                    Entrar na Turma
                  </a>
                {% else %}
                  <button class="btn btn-primary" disabled>
                    Inscrito na Turma
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock content %}