{% extends 'base.njk' %}
{% block title %}
  <title>Estudante | SmartTrivia</title>
{% endblock %}
{% block side_list %}
  <li class="list-group-item d-flex justify-content-between align-items-center {% if dashboard %}active{% endif %}">
    <a href="/student/">
      Menu Principal
    </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center {% if my_classes %}active{% endif %}">
    <a href="/student/classes">
      Minhas Turmas
    </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center {% if search_classes %}active{% endif %}">
    <a href="/student/classes/search">
      Procurar Turmas
    </a>
  </li>
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">Estudante</li>
{% endblock%}
{% block user_type %}
  Estudante
{% endblock %}